nav#flex-nav {
  height: 10vh;
  padding: 1rem;
  display: flex;
}

img#logo {
  width: 20rem;
  height: 80%;
  object-fit: contain;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

div#nav-links {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

div#nav-links a.nav-link {
  border-radius: 0.2rem;
  background: var(--orange-color);
  color: var(--white-color);
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 0.9rem;
}

div#nav-links a.nav-link:hover {
  background-color: var(--light-orange-color);
  transition: 0.2s;
}
