p#loading,
p#search-result {
  background: var(--orange-color);
  color: var(--white-color);
  padding: 0.8rem;
  border-bottom: 1rem solid var(--orange-color);
  border-radius: 0.2rem;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
}

p#loading {
  margin: 0 auto;
}

h1#explore-header {
  border-bottom: 1rem solid var(--orange-color);
  border-radius: 0.2rem;
  font-weight: 900;
  background: var(--white-color);
  padding: 0.5rem 2rem;
}

h2#all-missions {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 3rem 0 3rem 0;
  font-size: 4rem;
  max-width: 500px;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
}

section#missions-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

div#search-wrapper {
  position: relative;
  padding: 0.9375rem;
  border-radius: 0.2rem;
  width: 100%;
  border: 1px solid var(--orange-color);
  margin: 1.5rem 0 0 0;
}

div#search-wrapper:focus {
  border: 3px solid var(--orange-color);
}

div#search-wrapper::after {
  content: "🔍";
  position: absolute;
  top: 29px;
  right: 15px;
}

input#input-search {
  outline: none;
  border: 0;
  padding: 15px 20px;
  caret-color: var(--orange-color);
  font-size: 1.1rem;
  width: 98%;
}

input#input-search::-webkit-input-placeholder,
input#input-search:-ms-input-placeholder,
input#input-search::-ms-input-placeholder,
input#input-search::placeholder {
  color: #000000;
  font-size: 1.1rem;
  padding-left: 4px;
}

input#input-search::-webkit-search-cancel-button {
  display: none;
}

div#header-background-img {
  height: 50rem;
  background: url("../../assets/images/spacexImage.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange-color);
  border: 0.4rem solid var(--orange-color);
  border-radius: 0.2rem;
}

p#search-result {
  max-width: 480px;
}
