section div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
}

div#mission {
  border-radius: 0.2rem;
  box-shadow: 5px 5px 10px rgba(39, 39, 39, 0.3);
  width: 90%;
  margin-bottom: 1rem;
  padding: 2rem 1rem 2rem 1rem;
}

div#mission p {
  max-width: 400px;
}

p.failure-launch,
p.success-launch,
p.danger-alert {
  background: none;
  width: 200px;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

p.failure-launch,
p.danger-alert {
  border: 1px solid var(--danger-color);
  color: var(--danger-color);
}

p.danger-alert {
  width: 240px;
  max-width: 300px;
}

p.success-launch {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

div.image-wrapper {
  width: 100%;
}

img.spaceXimage {
  font-size: 1.5rem;
  width: 8rem;
  height: 8rem;
}

.d-block {
  display: block;
}

a.youtube-link {
  background: var(--danger-color);
  color: var(--white-color);
  width: 200px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

a.learn-more {
  background: var(--orange-color);
  color: var(--white-color);
  width: 200px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: 600;
}
